@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  outline: none;
}
.logo {
  grid-area: logo;
  width: 65%;
  align-self: center;
}

body {
  background-color: #111212;
  font-family: monospace;
}

.URIForm {
  font-family: monospace;
  font-size: 2.3vh;
  width: 100%;
  padding: 1%;
  border: none;
  margin-bottom: 2%;
  border-radius: 20px;
  margin-left: 20px;
}

.formClass {
 text-align: center;
 }

 .node__root {
   color: red;
 }

/* ================================ CHECKBOX BUTTON ================================  */

.checkboxLabel {
  color: #0D2F63;
  font-family: monospace;
  font-size: 1.7vh;
  padding: 1.3%;
}

/* .checkbox {
  appearance: none;
} */

.checkboxContainer {
  background-color: white;
  margin-bottom: 2px;
  padding: 1.3%;
  width: 100%;
  margin: 2px auto;
}

#box {
  border: 4px solid #8be9fd;
  border-radius: 3px;
  margin: auto;
  margin-top: 2%;
  max-width: 95%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#box:hover {
  animation-duration: 0.25s;
  border-left: 8px solid #8be9fd;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.buttonContainer {
  display: inline-block;
}

 .addSchemaBtn {
  text-align: center;
 }

.disableAddSelected {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-family: monospace;
  text-decoration: none;
  /* background-color: red; */
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 5px;
}

.disableAddSelected:disabled {
  /* background-color: blue; */
}

.container {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo formContainer playgroundButton";
}

.formContainer {
  grid-area: formContainer;
}

.grid-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 0.4fr 1.4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "dropDown tree codeboxContainer";
}

.dropDown {
  grid-area: dropDown;
  display: block;
  width: 100%;
}

.menuItems {
  line-height: 40px;
  font-size: 13px;
  font-family: monospace;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  /* text-align: center; */
  position: relative;
  transition: all .35s;
  /* margin-left: 37px;
  margin-top: 2%; */
}

.checkboxForm {
  display:block;
  width: 100%;

}

.tree {
  text-align: center;

}

.codeboxContainer {
  grid-area: codeboxContainer;
}

.playgroundButton {
  grid-area: playgroundButton;
  align-self: center;
}

.URISubmitButton:hover {
  cursor: pointer;
  background-color:  rgb(116, 115, 124);
}

.playgroundButton:hover{
  cursor: pointer;
}

.react-tabs__tab {
  color: white;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.circle {
  background-color: black;
}
.node {
  background-color: black;
}

div.custom-container {
	background-color: #242424;
}

svg.custom .node circle {
	fill: #f4f4f4;
	stroke: #2593B8;
	stroke-width: 2px;
}

svg.custom .node text {
	font-size: 18px;
	background-color: #444;
	fill: #f4f4f4;
	text-shadow: 0 1px 4px black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #32a8cf;
	stroke-width: 2px;
}

/* ================================ ADD SELECTED SCHEMA BUTTON  ================================  */


.AddSelectedSchemasButton{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-family: monospace;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-top: 6%;
  margin-bottom: 3%;
  border-radius: 5px;
}

.AddSelectedSchemasButton span {
  font-family: monospace;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.AddSelectedSchemasButton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #8be9fd;
  transition: all .35s;
}

.AddSelectedSchemasButton:hover{
  color: #0D2F63;
}

.AddSelectedSchemasButton:hover:after{
  width: 100%;
}

/* ================================ INPUT FIELD ================================  */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;

}

.formContainer {
  width: 75%;
  justify-self: center;
  align-self: center;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* ================================ PLAYGROUND BUTTON ================================  */
.draw-border {
  font-family: monospace;
  position: relative;
  padding: 4%;
  width: 50%;
  background-color: #61dbfb;
  font-size: 17px;
}

.draw-border a {
  text-decoration: none;
  color: black;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #0D2F63;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/* ================================ DOWNLOAD BUTTON ================================  */
.downloadBtn {
  border-radius: 4px;
  background-color: #61dbfb;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: monospace;
  font-weight: 600;
}

.downloadBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.downloadBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.downloadBtn:hover span {
  padding-right: 25px;
}

.downloadBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* ================================ RIBBON BUTTON ================================  */

.corner-ribbon{
  width: 200px;
  background: #F49274;
  position: absolute;
  font-weight: 700;
  font-size: 11.5px;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: black;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon a {
  text-decoration-line: none;
  color: black;
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ================================ RESET BUTTON ================================  */

.resetButton {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 40px;
  font-weight: bold;
  padding: 5px 0px;
  /* border: 3px solid #61dbfb; */
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 5px;
}
.resetButton:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #61dbfb;
  z-index: -1;
}
.resetButton:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.resetButton:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
/* ================================ AUTO UPDATE ================================  */

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}
