#logo {
  width: 15%;
}

body {
  background-color: #111212;
}
.formClass {
  text-align: center;
}
.URIForm {
  font-family: monospace;
  font-size: 2.3vh;
  width: 35%;
  padding: 1%;
  border-radius: 3%;
  border: none;
}

.URISubmitButton {
  font-family: monospace;
  color: black;
  padding: 1.3%;
  width: 15%;
  margin-left: 2vh;
  color: rgb(61, 60, 60);
  background-color: white;
  border: none;
  border-radius: 3%;
}

.checkboxLabel {
  color: rgb(207, 207, 207);
  font-family: monospace;
  font-size: 2vh;
  padding: 1.3%;
}

.checkboxContainer {
  background-color: white;
  margin-bottom: 2px;
  padding: 1.3%;
  width: 35%;
  margin: 2px auto;
}
